@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');

body {
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
    margin: 0em 0em 3.5em 0em;
    padding: 0;
}

a {
    color: #656B71;
}

.no-gutter {
    padding-left: 0;
    padding-right: 0;
}

.title {
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 3.5em;
    line-height: 3.5em; /* Vertically center the text there */
}

#searchPokemon {
    width: 25em;
}